body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;                  /* Ensure full width */
  height: 100vh;                 /* Ensure full height */
  z-index: -1;                   /* Send it behind everything */
  
  background-image: url('./assets/landingPageBG.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #fcefee;

  pointer-events: none;          /* Don't block clicks */
}
a:hover,
button:hover {
  /* Set the cursor for interactive elements on hover */
  cursor: url('/guitar-_link-select_.png') 11 13, pointer;
}