body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;

  background-image: url('./assets/landingPageBG.JPG'); 
  background-size: cover; 
  background-position: bottom; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-color: #fcefee;
  cursor: url('/gitar.png'), auto;
  
  color: #333;
}

a:hover,
button:hover {
  /* Set the cursor for interactive elements on hover */
  cursor: url('/guitar-_link-select_.png') 11 13, pointer;
}

/* This targets screens 768px wide or smaller (most phones and tablets) */
@media (max-width: 768px) {
  html, body {
    /*
      On mobile, switch to a normal scrolling background.
      This prevents the "zoom and blur" issue.
    */
    background-attachment: fixed;
  }
}